extends layout

block content
    script(type='text/javascript', src='/javascripts/initialconfig.js')

    .navbar
        .navbar-inner
            a.brand openNAS
    .alert.alert-block.alert-info.span6.offset3
        h4 Welcome to openNAS v #{appversion}
        p Simply press "Start" button to begin installation process!
        input(type = 'button', value = 'Press me!', style='padding:10px;margin:5px')#idBtnStartInstall.btn.btn-primary
