//
    form for administrator registration
.row.span3.offset4
    fieldset.form-signin
        label admin name:
            input(type='text', placeholder='admin name', name='name').input-block-level
        label password:
            input(type='password', name='pass').input-block-level
        label repeat password:
            input(type='password', name='pass2').input-block-level
        button.btn.btn-primary#idBtnSaveAdmin Submit