div.navbar
    div.navbar-inner
        a.brand(href='#') openNAS
        ul.nav.pull-left
            li
                a(href="#")#menuElementHome Home
            li
                a(href="#")#menuElementStorage Storage
        ul.nav.pull-right
            li
                a(href="/logoff")#menuElementLogOut Log out
